In [12]:
#installl pandas
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [20]:
# import pandas 
import  pandas as pd

In [21]:
# Create a list  of data
data=[1,2,3,4,5,6,7,8,9]

In [22]:
data

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
# cheaking list
type(data)

list

In [25]:
# Create a series from list 
s=pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [28]:
type(s)

pandas.core.series.Series

In [31]:
# create a Dataframe from series
df=pd.DataFrame(s,columns=['num'])

In [32]:
df

   num
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9

In [ ]:
# create a